.navbar-cm {
    display: flex;
    flex-direction: column;
    position: static;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-height: 10vh;
    background: linear-gradient(45deg, rgba(50, 51, 56, 0.56), #323338);
    float: left;
    border-radius: .95rem;
}
.nav_element-box{
    cursor: pointer;
    justify-content: center;
}


.nav_element {
    margin-right: 1vh;
    margin-left: 1vh;
    font-size: 5vh;
    color: #dddee3;
}