.action_menu-box{
    width: 200vh;
    height: 100vh;
    z-index: 11;
    position: fixed;
    padding: 15px 0;
    top: 0;
    left: 0;
}

.action_menu{
    z-index: 12;
    position: absolute;
    padding: 15px 0;
    right:5vh;
    background-color: rgba(133, 134, 136, 0.83);
    color: white;
    border-radius: 15px;
    top: 5vh;
}

.add{
    left: 30vh;
}

.action_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.action_menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.action_menu ul li i{
    padding-right: 10px;

}
.action_menu ul li:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}