.message-list-container {
    padding: 10px 10px 70px;
}


.compose {
    padding: 10px;
    /*display: flex;*/
    align-items: center;
    position: fixed;
    width: 72%;
    bottom: 1px;
    border: none;
    background-color: rgba(54, 71, 107, 0.43);
    backdrop-filter: blur(20px);
    border-radius: 12px;

}
.input-cont{
    position:relative;
    border: 0;
    /*margin-bottom:25px;*/
}

.input-cont input{
    border: 0;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
}

.input-cont input:focus{
    border:none;
    outline:none;
}

.input-cont input::placeholder {
    color: rgba(255, 255, 255, 0.85);
}
