.settings-box{
    background: linear-gradient(45deg, rgba(37, 39, 42), rgba(37, 39, 42, 0.64));
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 97vh;
    min-width: 67vw;
    transition: .5s;
    border-radius: .95rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.settings-box h2{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.settings-item{
    grid-row-start: 1;
    grid-row-end: span 3;
    display: flex;
    flex-direction: column;
    padding: 1vmin;
    border-radius: .95rem;
    align-items: center;
    position: static;
    width: 30vw;
    margin-top: 1vh;
    color:#fff;
    background: linear-gradient(45deg, rgba(73, 73, 75, 0.67), rgba(73, 73, 75));
}



.text-center1{
    margin-top: 1vh;
    color:#fff;
    text-transform:uppercase;
    font-size: 2vh;
    display: block;
    text-align: center;
}