.admin-box {
    position: static;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    min-width: 67vw;
    transition: .5s;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    background: linear-gradient(45deg, rgba(44, 45, 45, 0.95), rgb(73, 73, 75));
    border-radius: .95rem;
}

.search-box {
    margin: -5px 3px 10px 3px;
}

.admin-page-element {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    height: 30%;
    width: 30%;
    border: 50px #BCCDD0;
    border-radius: 12px;
}

.btn-admin {
    color: #fff;
    background-color: #787A7A;
    border: 12px #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 12px;
}

.btn-userList {
    color: #f2f2f5;
    background-color: #787A7A;
    border: 12px #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 12px;
}

.btn-reportList {
    color: #f2f2f5;
    background-color: #5F6161;
    border: 12px #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 12px;
}

.textA {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    margin: 0.5% 0 0.5% 0;
    display: block;
    text-align: center;
}